
<% include partials/header %>
       <header class="jumbotron">
           <div class="container">
                 <h1>Welcom To YelpCamp!</h1>
                  <p>View our had-picked campgrounds from all over the world</p>
         
         <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New CampGround</a>
        <a class="btn btn-primary btn-lg navbar-right" href="/campgrounds">View All CampGrounds</a>       </div>
       </header>


<% include partials/footer %>